<h1>Profil</h1>

<h2><strong><%= @user.name %></strong></h2>
<p><%= @user.email %></p>

<% if @user.id == @current_user.id %>
    <ul>
        <li><%= link_to "Edit", edit_user_path(@user) %></li>
        <li><%= link_to "Delete", user_path(@user), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Apakah Anda yakin?"
                    } %></li>

    </ul>
<% end %>